<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>If no is 6 you win</h3>
    <h1>NO is :<%=num%></h1>    
    <%  if(num ==6 ){%>
            <h2>You win</h2>
    <%}%>

    
</body>
</html>