<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page</title>
</head>
<body>
    <h1>This is my first EJS page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolore magni temporibus, sint accusantium nostrum voluptatibus qui facere iure obcaecati nesciunt cumque, ea at animi id harum repellendus maxime perspiciatis!</p>
    <button>view all</button>
</body>
</html>